html {
    scroll-behavior: smooth; 
  }

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

h1, h3 {
    color: #FFFFFF;
}

h2, h4 {
    color: #BDAE82;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 50px;
    height: 50px;
    fill: #FFFFFF;
}

.logo:hover{
    fill: #BDAE82;
    transition: 0.5s;
}

.button {
    width: 220px;
    height: 55px;
    font-size: 20px;
    border: none;
    color: #000;
    background-color: #BDAE82;
    cursor: pointer;
}

.button:hover {
    color: #FFFFFF;
    transition: 0.5s;
}

.section-title-wrapper {
    margin: 0 auto 60px;          
    width: 50%;
    text-align: center;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.section-title {
    display: inline-block;
    font-size: 40px;
    line-height: 80px;
    padding: 0 20px;
    background-color: #000;
}

/* HEADER */
.header-container {
    max-width: 1440px;
    height: 90px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-image: url(./assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: center 0; 
    font-size: 20px;
}

.nav {
    margin-left: auto;
}

.nav-items {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    
}

.nav-link:hover{
    color: #BDAE82;
    transition: 0.5s;
}

.lang-en:hover{
    color: #BDAE82;
    transition: 0.5s;
    cursor: pointer;
}

.lang-slash {
    padding: 0 5px;
}

.lang-ru:hover{
    color: #BDAE82;
    transition: 0.5s;
    cursor: pointer;
}

.active {
    color: #BDAE82;
}

/* MAIN */

/*HER0 SECTION */
.hero-container {
    max-width: 1440px;
    height: 820px;
    margin: 0 auto;
    padding: 180px 0 0 80px;
    background-image: url(./assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: center -90px;
    background-size: 1440px 910px;
}

.hero {
    max-width: 470px;
}

@media (max-width: 1024px) {
    .hero {max-width: 390px;}
}

.hero-title {
    font-size: 60px;
    padding-bottom: 35px;
}

.hero-description {
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 25px;
}

/* SKILLS SECTION */
.skills {
    padding-top: 100px;
}

.skills-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .skills-items {
        justify-content: space-evenly;
        gap: 36px;
    }
}

.skills-item {
    width: 320px;
    padding: 100px 20px 10px;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.skills-item:nth-child(1) {
    background-image: url(./assets/svg/camera.svg);
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.skills-item:nth-child(2) {
    background-image: url(./assets/svg/video.svg);
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.skills-item:nth-child(3) {
    background-image: url(./assets/svg/image.svg);
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.skills-item:nth-child(4) {
    background-image: url(./assets/svg/mic.svg);
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.skills-item_title {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.skills-item_description {
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

/* PORTFOLIO SECTION */
.portfolio {
    padding-top: 100px;
}

.portfolio-btns {
    margin: 0 auto;
    padding-bottom: 60px;
    max-width: 895px;
}

.portfolio-btn {
    border: 2px solid #BDAE82;
    background-color: transparent;
    color: #BDAE82;
}

.active-btn {
    background-color: #BDAE82;
    color: #000;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 1024px){
    .portfolio-items {
        justify-content: center;
    }
}

.portfolio-item {
    height: 560px;
}


/* VIDEO SECTION */
.video {
    padding-top: 100px;
}

.video-player {
    display: flex;
    justify-content: center;
    height: 705px;
    background-image: url(./assets/img/video-player.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
}

.video-btn {
    background: transparent;
    border: none;
    transition: 0.1s;
}

.video-btn_icon {    
    width: 130px;
    fill: #FFFFFF;
    cursor: pointer;
}

.video-btn_icon:hover {
    fill: #BDAE82;
    transition: 0.5s;    
}

/* PRICE SECTION */
.price {
    padding: 100px 0;
}

.price-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price-item {
    width: 450px;
    padding: 43px 0;
    text-align: center;
    border: 3px solid #BDAE82;
}

@media (max-width: 1024px) {
    .price-item {
        width: 315px
    }
}

.price-item_title {
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 50px;
}

.price-item_price{
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 48px;
}

.price-item_description {
    padding-bottom: 40px;
}

.price-item_description span {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}

/* CONTACT ME SECTION */
.contact-me {
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
    padding-top: 60px;
    background-image: url(./assets/img/contacts.jpg);
    background-repeat: no-repeat;
}

.form-wrapper {
    display: flex;
    justify-content: flex-end;
}

.contact-me_form {
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.form-title {
    background: none;
    padding: 0 0 40px 0;
}

.email {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
    border: 2px solid #BDAE82;
}

.tel {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;    
    border: 2px solid #BDAE82;
}
.message {
    resize: none;
    width: 100%;
    height: 100px;
    padding-left: 20px;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.5);    
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;    
    border: 2px solid #BDAE82;
}

::placeholder {
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
}

/* FOOTER */
.footer {
    max-width: 1440px;
    margin: 0 auto;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.rs-school-link {
    font-size: 20px;
}

.rs-school-link a:hover {
    color: #BDAE82;
    transition: 0.5s;
}

.social-list {
    display: flex;
    gap: 20px;
}

.sm-icons {    
    width: 32px;
    height: 32px;
}