html {
    scroll-behavior: smooth; 
  }

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

h1, h3 {
    color: #FFFFFF;
}

h2, h4 {
    color: #BDAE82;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */
.header-container {
    max-width: 1440px;
    height: 90px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-image: url(./assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: center 0; 
    /* background-size: contain;    */
    font-size: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    fill: #FFFFFF;
}

.logo:hover{
    fill: #BDAE82;
    transition: 0.5s;
}

.nav {
    margin-left: auto;
}

.nav-items {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    
}

.nav-link:hover{
    color: #BDAE82;
    transition: 0.5s;
}

.lang-en:hover{
    color: #BDAE82;
    transition: 0.5s;
    cursor: pointer;
}

.lang-slash {
    padding: 0 5px;
}

.lang-ru:hover{
    color: #BDAE82;
    transition: 0.5s;
    cursor: pointer;
}

/* MAIN */

/*HER0 SECTION */
.hero-container {
    max-width: 1440px;
    height: 820px;
    margin: 0 auto;
    background-image: url(./assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: center -90px;
    /* background-size: auto auto; */
}